* {
  h1 {
    font-family: "This Night";
  }

  textarea {
    resize: none;
  }

  #spinner {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
  }
}

@font-face {
  font-family: "This Night";
  src: url("./This\ Night.ttf");
}
